<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/e669defe-f19a-4012-8e5b-6ac0529e0639/resourceGroups/ghal-dev-rg/providers/Microsoft.Web/sites/ghal-dev-wa</ResourceId>
    <ResourceGroup>ghal-dev-rg</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://ghal-dev-wa.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>aa93b6df-184c-47f8-a890-241c6713f6c6</ProjectGuid>
    <PublishUrl>https://ghal-dev-wa.scm.azurewebsites.net/</PublishUrl>
    <UserName>$ghal-dev-wa</UserName>
    <_SavePWD>true</_SavePWD>
    <TargetFramework>net8.0</TargetFramework>
    <SelfContained>false</SelfContained>
  </PropertyGroup>
</Project>